@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a {
     text-decoration: none;
}
* {
     margin: 0;
     padding: 0;
}
html {
     scroll-behavior: smooth;
}
body{
     align-content: center;
}

#navbar-desktop-unauthorised{
     /* background-color: white; */
     /* margin: 7.5px; */
     /* border-radius: 12px */
     background-color:white;
     height: 7vh;
     border: 0px solid black;
     box-shadow: 0 2px 10px hsla(220, 32%, 8%, .3);
}

.nav-brand a {
     color:black;
     font-family: 'Nunito';
     font-style: italic;
     font-size: 1.7rem;
     font-weight:700;
     display:flex;
     align-items:center;
     margin-left: 5vw;
}
.nav-brand img {
     height: auto;
     width: 29px;
     border: 1px solid #73af2e;
     border-radius: 50%;
 }
.nav-brand span {
     margin-left: 5px;
}

nav, .nav-link {
     display:flex;
     align-items: center;
     justify-content:space-between;
     height: 5.4vh;
}
.nav-link {
     gap:2rem;
     list-style: none;
     font-size: 1.3rem;
     margin-right: 5vw;
}
.nav-link a {
     text-decoration: none;
     color:dimgray;
     font-family: 'Montserrat', 'Nunito';
     font-weight:600;
}
.nav-link a:hover{
     color:black;
}

footer .container{
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background-color: black;
}
.row{
     display: flex;
     justify-content:space-around;
     padding: 20px 100px;
}
.footer-col ul{
     list-style: none;
}
.footer-col h4{
     color:bisque;
     margin-bottom: 5px;
     font-size: 1.6rem;
     position: relative;
     font-family: "Poppins", sans-serif;
}

.footer-col ul li{
     padding: 10px 0;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-col ul li a{
     color:aliceblue;
     text-decoration: none;
     font-size: 1rem;
     opacity: 0.7;
     transition: 0.5s;
}
.footer-col ul li a:hover{
     opacity: 1;
}
.footer-col input{
     border: none;
     width: 250px;
     height: 45px;
     display: block;
     padding-left: 20px;
     margin: 14px 0;
}
.col p{
     text-align: center;
     color:bisque;
     font-family: "Poppins", sans-serif;
}
.row hr{
     background-color: bisque;
     opacity: 01;
}
.heading {
     margin: 5px;
     font-family: 'Montserrat';
     font-size: 2.5rem;
}

@media (max-width: 600px){
     footer .row{
          flex-direction: column;
          padding: 10px 20px;
     }
     .footer-col h4{
          color:bisque;
          margin-bottom: 3px;
          font-size: 1.3rem;
     }
     .footer-col ul li a{
          font-size: 0.9rem;
     }
     footer .footer-col ul{
          margin-left: 20px;
          margin-bottom: 20px;
     }
     .footer-col input{
          width: 100%;
     }
     .col p{
          font-size: 0.8rem;
          padding: 2px;
     }
}
@media (max-width: 900px) {
     .heading {
          font-size: 2rem;
     }
     .nav-brand a {
       font-size: 1.55rem; /* smaller font size for small screens */
     }
     .nav-link {
          font-size: 1.25rem;
     }
     .nav-brand img {
          width: 25px;
          height: auto;
     }
}
@media (max-width: 500px) {
     .heading {
          font-size: 1.5rem;
     }
     .nav-brand a {
       font-size: 1.475rem; /* smaller font size for small screens */
     }
     .nav-link {
          font-size: 1.15rem;
     }
     .nav-brand img {
          width: 22px;
          height: auto;
     }
}