{% extends 'todoApp/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}
<head>
     {% block head %}
     <title>{{ profile.name }}'s Instructors on Crispio</title>
     <!--Meta Data-->
     {% endblock %}
</head>
<body>
     {% block content %}

     <h1 class="heading">{{ profile.user.first_name }} is following {{ count }} user{{ count|pluralize }}.</h1>
     <br>
     <ul>
          {% for followinguser in following %}
               <a href="{% url 'userProfile:viewprofile' followinguser.id %}">
               <li>
               {{ followinguser.user.first_name }} {{ followinguser.user.last_name }} 
               </li>
               </a>
          {% endfor %}
     </ul>

     {% endblock %}
</body>
</html>