{% extends 'todoApp/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}
<head>
     <!--Meta Data-->
</head>
<body>
     {% block content %}

     {{ profile.user.first_name }} is intructing {{ count }} user{{ count|pluralize }}.
     <br>
     <ul>
          {% for follower in instructing %}
               <a href="{% url 'userProfile:viewprofile' follower.id %}">
               <li>
               {{ follower.user.first_name }} {{ follower.user.last_name }}
               </li>
               </a>
          {% endfor %}
     </ul>

     {% endblock %}
</body>
</html>