{% extends 'todoApp/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}
<head>
     {% block head %}
     <title>User Search Results | Crispio</title>
     <!--Meta Data-->
     {% endblock %}
</head>
<body>
     {% block content %}

     {% if profiles %}
     <h1 class="heading">Here's what I found:</h1>
     <ul>
          {% for profile in profiles %}
          <a href="{% url 'userProfile:viewprofile' profile.id %}">
          <li>{{ profile.name }}</li>
          </a>
          {% endfor %}
     </ul>
     {% else %}
     <h1 class="heading">Hey, I didn't find any user.</h1>
     {% endif %}
     {% endblock %}
</body>
</html>