{% extends 'todoApp/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}
<head>
     {% block head %}
     <title>{{ profile.name }} on Crispio</title>
     <!--Meta Data-->
     {% endblock %}
</head>
<body>
     {% block content %}

          <div class="section__pic-container">
               <img src="{{ profile.pfp_url }}" alt="{{ profile.name }} profile picture" />
          </div>
          <div class="section__text">
               <h1 class="title">
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                    {% if profile.verified %}
                    <img src="{% static 'crispApp/verified.png' %}">
                    {% endif %}
               </h1>
               <p class="section__text__p2">Completed {{ count }} public to-do{{ count|pluralize }}.</p>
               <div id="socials-container">
                    <p class="section__text__p2">
                         <a style='color: black; text-decoration: underline;' href="{% url 'userProfile:instructing' profile.id %}">Instructing: {{ instructing }}</a>
                    </p>
                    <p class="section__text__p2">
                         <a style='color: black; text-decoration: underline;' href="{% url 'userProfile:following' profile.id %}">Following: {{ following }}</a>
                    </p>
               </div>
               <div class="btn-container">
                    {% if followed %}
                         <form method="POST" action="{% url 'userProfile:unfollow' profile.id %}">
                              {% csrf_token %}
                              <button class="opener-button" style="color: black; background-color: white;">Unfollow</button>
                         </form>
                    {% else %}
                              {% if self %}
                              <!-- Self -->
                    
                              {% else %}
                                   <form method="POST" action="{% url 'userProfile:follow' profile.id %}">
                                        {% csrf_token %}
                                        <button class="opener-button" style="color: black; background-color: white;">Follow</button>
                                   </form>
                              {% endif %}
                    {% endif %}
               </div>
          </div>
     </section>

     {% if followed %}
     {% if exclusive %}
     <h1>For you</h1>
     <ul>
          {% for todo in exclusive %}
               <li>
                    <a href="{% url 'viewtodo' todo.id %}">
                    {% if todo.important %}
                    <b>
                    {% endif %}
                    {{ todo.title }}
                    </b>
                    {% if todo.memo %}
                    ~{{todo.memo}}
                    {% endif %}
                    </a>
                    {% if todo.complete_by %}
                    <br><i>~Complete by {{ todo.complete_by|date:'dS M Y' }}.</i>
                    {% endif %}
               </li>
          {% endfor %}
     </ul>
          {% endif %}
     {% endif %}

     {% if todos %}
     <h1>Public to-dos by {{ profile.user.first_name }}.</h1>
     <ul>
          {% for todo in todos %}
               <li>
                    <a href="{% url 'viewtodo' todo.id %}">
                    {% if todo.important %}
                    <b>
                    {% endif %}
                    {{ todo.title }}
                    </b>
                    {% if todo.memo %}
                    ~{{todo.memo}}
                    {% endif %}
                    </a>
                    {% if todo.complete_by %}
                    <br><i>~Complete by {{ todo.complete_by|date:'dS M Y' }}.</i>
                    {% endif %}
               </li>
          {% endfor %}
     </ul>
     {% endif %}
     {% endblock %}

</body>
</html>