{% extends 'todoApp/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}
<head>
     {% block head %}
     <title>Your Profile on Crispio</title>
     <!--Meta Data-->
     {% endblock %}
</head>
<body>
     {% block content %}

     <section id="profile">
          <div class="section__pic-container">
               <img src="{{ profile.pfp_url }}" alt="{{ profile.name }}profile picture" />
          </div>
          <div class="section__text">
               <h1 class="title">
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                    {% if profile.verified %}
                    <img src="{% static 'crispApp/verified.png' %}">
                    {% endif %}
               </h1>
               <p class="section__text__p2">Completed {{ count }} public to-do{{ count|pluralize }}.<br>
               </p>
               <div id="socials-container">
                    <p class="section__text__p2">
                         <a style='color: black; text-decoration: underline;' href="{% url 'userProfile:instructing' profile.id %}">Instructing: {{ instructing }}</a>
                    </p>
                    <p class="section__text__p2">
                         <a style='color: black; text-decoration: underline;' href="{% url 'userProfile:following' profile.id %}">Following: {{ following }}</a>
                    </p>
               </div>
               <p class="section__text__p2"><a href="{% url 'userProfile:viewprofile' profile.id %}">View Your Public Profile</a></p>
          </div>
     </section>

     {% if todos %}
     <h1 class="heading">Your Public To-dos</h1>
     <ul>
          {% for todo in todos %}
               <li>
                    <a href="{% url 'viewtodo' todo.id %}">
                    {% if todo.important %}
                    <b>
                    {% endif %}
                    {{ todo.title }}
                    </b>
                    {% if todo.memo %}
                    ~{{todo.memo}}
                    {% endif %}
                    </a>
                    {% if todo.complete_by %}
                    <br><i>~Complete by {{ todo.complete_by|date:'dS M Y' }}.</i>
                    {% endif %}
               </li>

          {% endfor %}
     </ul>
     {% endif %}
     {% if exclusive %}
     <h1 class="heading">Exclusive To-dos</h1>
     <ul>
          {% for todo in exclusive %}
               <li>
                    <a href="{% url 'viewtodo' todo.id %}">
                    {% if todo.important %}
                    <b>
                    {% endif %}
                    {{ todo.title }}
                    </b>
                    {% if todo.memo %}
                    ~{{todo.memo}}
                    {% endif %}
                    </a>
                    {% if todo.complete_by %}
                    <br><i>~Complete by {{ todo.complete_by|date:'dS M Y' }}.</i>
                    {% endif %}
               </li>
          {% endfor %}
     </ul>
     {% endif %}

     {% endblock %}
</body>
</html>