{% extends 'todoApp/base.html' %}
{% block content %}

<img src="{{ profile.pfp_url }}">
<h1>{{ profile.user.first_name }}</h1>
<a href="{% url 'userProfile:instructing' profile.id %}">Instructing: {{ instructing }}</a><br>
<a href="{% url 'userProfile:following' profile.id %}">Following: {{ following }}</a><br>

{% if followed %}
<form method="POST" action="{% url 'userProfile:unfollow' profile.id %}">
     {% csrf_token %}
<button type="submit">Unfollow</button>

{% else %}
     {% if self %}
     <!-- Self -->

     {% else %}
          <form method="POST" action="{% url 'userProfile:follow' profile.id %}">
               {% csrf_token %}
          <button type="submit">Follow</button>
          </form>
     {% endif %}
{% endif %}<br>

{% endblock %}