<!doctype html>
<html lang="en">
{% load static %}
<head>
     {% block head %}{% endblock %}
     <link rel="icon" type="image/x-png" href="{% static 'crispApp/Crispio-Round-NoBG.png' %}">
     <!--Styling Import-->
     <link rel="stylesheet" href="{% static 'crispApp/styling.css' %}"/>
     <link rel="stylesheet" href="{% static 'crispApp/mediaqueries.css' %}"/>
     <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> <!--Remixicons CSS-->
     <!--Meta Data-->

     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="google-site-verification" content="hRu4sRjMMx8sd7AGvVKDH7rI9EtMDYs0DlnWFcJX_L8" /> <!--Google site verification-->

</head>
     <!-- Content -->
     {% if user.is_authenticated %}
<body style="background-color: lightgrey;">
     Logged in as {{ user.first_name }}

     <!-- Logout -->
     <form method="POST" action="{% url 'logoutuser' %}">
     {% csrf_token %}
     <button type="SUBMIT">Logout</button>
     </form>
     <a href="{% url 'userProfile:viewself' %}">You</a><br>
     <a href="{% url 'currenttodos' %}">Current</a><br>
     <a href="{% url 'publictodos' 'following' %}">Following</a><br>
     <a href="{% url 'createtodos' %}">Create</a><br>
     <a href="{% url 'completedtodos' %}">Completed</a><br>
     <form method="GET" action="{% url 'userProfile:searchprofile' %}">
          <input type="search" placeholder="Search for users" name="userinput">
          <button type="submit">Search</button>
     </form>

     {% else %}
<body style="background-color: bisque;">
     <nav id="navbar-desktop-unauthorised"> <!--No login desktop navbar-->
          <div class="nav-brand">
               <a href="{% url 'homepage' %}">
                    <img src="{% static 'crispApp/Crispio-Round-NoBG.png' %}"/>
                    <span>Crispio</span>
               </a>
          </div>
          <ul class="nav-link">
               <li><a href="{% url 'connect' %}">
                    <i class="ri-login-box-line"></i> Sign In 
               </a></li>
          </ul>
     </nav>
     <br>
     {% endif %}
     <!-- #Check for homepage
     {% if template == 'home' %}
          home 
     {% endif %}
     -->
<div style="min-height: 100vh;">
     {% block content %}{% endblock %}
</div>

     <footer>
          <div class="container">
              <div class="row">
                  <div class="footer-col">
                    <br>
                      <h4>Quick Links</h4>
                      <ul>
                          <li><a href="https://discord.com/channels/1299638257125949450/1299638257956425799/1299658402699415596">Quickstart Guide</a></li>
                          <li><a href="https://discord.gg/4mSrbPtQeV">Help & Support</a></li>
                          <li><a href="https://discord.gg/R3K2Em852x">Suggestions & Feedback</a></li>
                      </ul>
                  </div>
                    <div class="footer-col">
                         <br>
                    <h4>Social</h4>
                    <ul>
                         <li><a href="https://discord.gg/CVPWnkuDWN">Discord</a></li>
                         <li><a href="https://x.com/topCodegeek">Twitter</a></li>
                         <li><a href="https://github.com/topCodegeek">Github</a></li>
                    </ul>
                    </div>
               </div>
               <br>
              <hr>
              <div class="row">
                  <div class="col">
                      <p>Crispio | Developed by Ishaan Topkar</p>
                  </div>
              </div>
          </div>
      </footer>

</body>
</html>