{% extends 'todoApp/base.html' %}
{% block content %}

<h1>Completed Todos:</h1>
<ul>
     {% for submission in submissions %}
     <li>
               <a href="{% url 'viewtodo' submission.todo.id %}">
               {% if submission.todo.important %}
               <b>
               {% endif %}
               {{ submission.todo.title }}
               </b>
               {% if submission.todo.memo %}
               ~{{ submission.todo.memo }}
               {% endif %}
               ~Completed on {{ submission.date_submitted|date:'dS M Y H:i' }}
          </a>
     </li>
     {% endfor %}
</ul>

{% endblock %}