{% extends 'todoApp/base.html' %}
{% block content %}

<h1>Completed Todos:</h1>
<ul>
     {% for todo in todos %}
     <li>
               <a href="{% url 'edittodo' todo.id %}">
               {% if todo.important %}
               <b>
               {% endif %}
               {{ todo.title }}
               </b>
               {% if todo.memo %}
               ~{{todo.memo}}
               {% endif %}
               ~Completed on {{ todo.date_completed|date:'dS M Y H:i' }}
          </a>
     </li>
     {% endfor %}
</ul>

{% endblock %}