{% extends 'todoApp/base.html' %}
<!doctype html>
<html lang="en">
<head>
     <title>Sign-In to Crispio</title>
     <!--Meta Data-->
</head>
<body>
     {% load socialaccount %}

     {% block content %}
     <a href="{% provider_login_url 'google' %}?next=/userprofile/create/">Continue with Google</a><br>
     <a href="{% provider_login_url 'github' %}?next=/userprofile/create/">Continue with Github</a><br>
     Your email is taken to avoid creation of duplicate accounts.
     {% endblock %}
</body>
</html>
