{% extends 'todoApp/base.html' %}

{% block content %}
{{ error }}
<br>
{% if todos %}
<h1>These are your private to-dos</h1>
<ul>
     {% for todo in todos %}
     <li>
               <a href="{% url 'viewtodo' todo.id %}">
               {% if todo.important %}
               <b>
               {% endif %}
               {{ todo.title }}
               </b>
               {% if todo.memo %}
               ~{{todo.memo}}
               {% endif %}
               </a>
               {% if todo.complete_by %}
               <br><i>~Complete by {{ todo.complete_by|date:'dS M Y' }}.</i>
               {% endif %}
     </li>
     {% endfor %}
</ul>
{% else %}
<h3>You haven't created private to-dos. Create one to list it here.</h3>
{% endif %}
{% endblock %}