{% extends 'todoApp/base.html' %}

{% block content %}
{{ error }}
<br>
{% if todos %}
<h1>Following</h1>
<ul>
     {% for todo in todos %}
          <a href="{% url 'viewtodo' todo.id %}">
          <li>
               {% if todo.important %}
               <b>
               {% endif %}
               {{ todo.title }}
               </b>
               {% if todo.memo %}
               ~{{todo.memo}}
               {% endif %}
               </a>
               ~By <a href="{% url 'userProfile:viewprofile' todo.author.id %}">{{ todo.author.user.first_name }} {{ todo.author.user.last_name }}</a>
               {% if todo.complete_by %}
               <br><i>~Complete by {{ todo.complete_by|date:'dS M Y' }}.</i>
               {% endif %}
          </li>
     {% endfor %}
</ul>
{% else %}
<h3>No new to-dos by your instructors. They will be listed here if available.</h3>
{% endif %}
{% endblock %}