{% extends 'todoApp/base.html' %}

{% block content %}
{{ error }}
<br>
<h1>Following</h1>
<ul>
     {% for todo in todos %}
          <a href="{% url 'viewtodo' todo.id %}">
          <li>
               {% if todo.important %}
               <b>
               {% endif %}
               {{ todo.title }}
               </b>
               {% if todo.memo %}
               ~{{todo.memo}}
               {% endif %}
               </a>
                ~By <a href="{% url 'userProfile:viewprofile' todo.author.id %}">{{ todo.author.user.first_name }} {{ todo.author.user.last_name }}</a>
          </li>
     {% endfor %}
</ul>
{% endblock %}