{% extends 'todoApp/base.html' %}
{% load socialaccount %}
{% block content %}

Hey, log back in!
<br><br>
{{ error }}
<form method="POST">
{% csrf_token %}
<p>Email: {{ form.username }}</p>
<p>Password: {{ form.password }}</p>
    <a href="{% url 'forgetpassword' %}">Forgot your password?</a>
</p>
<button type="submit">Login</button>
</form>
<a href="{% provider_login_url 'google' %}?next=/current/">Continue with Google</a><br>
<a href="{% provider_login_url 'github' %}?next=/current/">Continue with Github</a>
{% endblock %}