{% extends 'todoApp/base.html' %}

{% block content %}
{{ error }}
<br>
<h1>Public</h1>
<ul>
     {% for todo in todos %}
          <a href="{% url 'viewtodo' todo.id %}">
               {{ todo.author.user.first_name }} {{ todo.author.user.last_name }}<br>
               <li>
                    {% if todo.important %}
                    <b>
                    {% endif %}
                    {{ todo.title }}
                    </b>
                    {% if todo.memo %}
                    ~{{todo.memo}}
                    {% endif %}
               </li>
          </a>
     {% endfor %}
</ul><br>

{% endblock %}